:root {
    --font-size: 16px;
    --font-family: 'Montserrat', 'Segoe UI', Arial, Helvetica, sans-serif;
    --primary-color: #3c91b3;
    --default-shadow: 0 2px 2px rgba(0, 0, 0, 0.075),
                      0 4px 4px rgba(0, 0, 0, 0.075),
                      0 8px 8px rgba(0, 0, 0, 0.075),
                      0 16px 16px rgba(0, 0, 0, 0.075);
    --active-shadow: 0 2px 2px rgba(0, 0, 0, 0.15),
                     0 4px 4px rgba(0, 0, 0, 0.15),
                     0 8px 8px rgba(0, 0, 0, 0.15),
                     0 16px 16px rgba(0, 0, 0, 0.15);
}

body {
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    z-index: 100;
}

.loader--hide {
    animation: hide-loader 1s ease-in-out;
    animation-fill-mode: forwards;
}

.loader__spin {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    border: 1em solid transparent;
    border-top-color: var(--primary-color);
    filter: drop-shadow(0 0 16px var(--primary-color));
    animation: spin 1s ease-in-out infinite;
}

.main {
    width: 100vw;
    height: 100vh;
    padding: 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    overflow: auto;
}

.main__title {
    margin: 0;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 0 #cccccc,
                 0 2px 0 #c8c8c8,
                 0 3px 0 #c3c3c3,
                 0 4px 0 #bfbfbf,
                 0 5px 0 #bbbbbb;
}

.main__block {
    padding: 4em 0;
}

.main__buttons {
    max-width: 640px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

.main__final {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main__question {
    margin: 0 0 2em 0;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
}

.main__result {
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__debug {
    max-width: 60vw;
    min-height: 240px;
    max-height: 480px;
    margin: 2em auto 0 auto;
    padding: 0.5em;
    border: 0.5em solid transparent;
    border-radius: 4px;
    font-size: 1em;
    font-family: 'Consolas', monospace;
    tab-size: 4;
    background: #222222;
    color: #ffffff;
    overflow: auto;
}

.main__debug:empty {
    display: none;
}

.main__debug::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.main__debug::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #cccccc;
}

.main__debug::-webkit-scrollbar-corner {
    background: transparent;
}

.menu__toggle {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    cursor: pointer;
}

.menu__checkbox {
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em 0 0;
    border-radius: 4px;
    background: #ffffff;
    background-position: 50% 50%;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu__checkbox:hover {
    background-image: url('data:image/svg+xml,%3Csvg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21 7L9 19L3.5 13.5L4.91 12.09L9 16.17L19.59 5.59L21 7Z" fill="%23000000" fill-opacity="0.4"/%3E%3C/svg%3E%0A');
    box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.4);
}

.menu__checkbox:focus {
    box-shadow: 0 0 0 0.125em #222222;
    outline: none;
}

.menu__checkbox:checked {
    background-image: url('data:image/svg+xml,%3Csvg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21 7L9 19L3.5 13.5L4.91 12.09L9 16.17L19.59 5.59L21 7Z" fill="%23222222"/%3E%3C/svg%3E%0A');
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: inherit;
    transition: box-shadow 0.25s ease-in-out;
    box-shadow: var(--default-shadow);
}

.button:hover {
    box-shadow: var(--active-shadow);
}

.button:focus {
    outline: none;
}

.item {
    margin: 1em 0.5em;
    padding: 1em;
    border-radius: 4px;
    display: flex;
    font-size: 1.25em;
    background: #ffffff;
    box-shadow: var(--default-shadow);
}

.item__name {
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
}

.item__rating {
    margin-left: 0.5em;
    font-size: 0.8em;
    font-style: italic;
}

[hidden] {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    75%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hide-loader {
    0% {
        clip-path: circle(100% at 50% 50%);
    }

    100% {
        clip-path: circle(0% at 50% 50%);
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --font-size: 10px;
    }

    .main__buttons {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}